
.carte{
    background-image: url(../src/img/covers-design-backgrounds-for-a-credit-card-vector-17509086.jpg);
    width: 35%;
    height:350px;
    border-radius: 15px;
    margin-left:10%;
    
}
.phrase{
    color:white;
    padding-left: 36%;
padding-top: 1%
}

.chiff{
    color:black;
    padding-left: 5%;

}
.chiff1{
    color:goldenrod;
    border: white; 
   border-width: 2%;
   margin-left:20px;    
}
.chiffres{
    margin-top: -7%
}
.part{
    display:flex;
}
 .pus{
    margin-left: 18px;

    margin-top: 34px;
}
.pus1{
    padding-left: 5%;
    padding-bottom:5%;
    border-radius: 20px;  
}
.part2{
    display:flex;
    color:black;
padding-top: 7%;
margin-left: -25%;
}
span{
    font-size: 200%;
}
.date{
    display: flex
}
.icone{
    margin-top: 61%;
}
